@media (min-width:1000px) and (max-width:1200px){
    .left{
        position:absolute;
        width: 40.5vw;
        left:-100%;
        transition:left 0.5s ease-in-out;
        z-index: 1;
    }
    .combo{
        left: 23%;
    }
    .button1{
        right: 14%;
    }
    .button2{
            right: 4%;
    }
    .song-duration{
        gap: 400px;
    }
    .hamburger{
        display: inline;
        left: 16%;
    }
    .cross{
        display: inline;
    }
    .songList ul li {
        width: 87%;
    }


}